@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar barra de desplazamiento en navegadores Webkit (Chrome, Safari, Opera) */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Ocultar barra de desplazamiento en IE, Edge y Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
  }
  